
#screen {
  border-spacing: 0px;
  width: 100%;

  tr {
    background-color: #fff;
    height: 4rem;
    transition: background-color 5s;

    &.active {
      background-color: var(--background-tertiary);
    }

    th, td {
      padding: 0.5rem;
      font-size: 0.8rem;
    }

    th {
      white-space: nowrap;
      //we switch background and foreground on purpose here
      background-color: var(--text-primary);
      color: var(--background-primary);
      border-bottom: 3px solid var(--text-primary);
    }

    td {
      border-bottom: 3px solid var(--background-tertiary);
    }
  }
}
