
@import '../../variables.less';

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--button-primary);
}

.bm-menu-wrap + div {
  position: relative;
  z-index: 2000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--button-primary);
}

/* General sidebar styles */
.bm-menu {
  background: var(--background-tertiary);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 1000;
}

.bm-menu-wrap {
  top: 0;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  filter: opacity(0.6);
}

@media screen and (max-width: @breakpoint-s) {
  .bm-burger-button {
      width: 18px;
      height: 18px;
      left: 18px;
      top: 18px;
  }
}