@import '../../variables.less';

#slots {
  margin-top: 1rem;

  @media screen and (min-width: @breakpoint-xl) {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0px;

  }
}