html {
  font-size: 32px;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

@media all and (max-width: 1199px) {  } 
@media all and (max-width: 991px) {
  html {
    font-size: 26px;
    /* color: #ff0; */
  }
} 

@media all and (max-width: 768px) { 
  html {
    font-size: 22px;
    /* color: #f00; */
  }
} 
@media all and (max-width: 575px) { 
  html {
    font-size: 16px;
    /* color: #f0f; */
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

.track {
  margin: 1rem 0;
}

.track > h3 {
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
}

.track > h3 > svg {
  float: right;
}

.track .room {
  font-size: 0.8rem;
  color: #ccc;
}

.track > ul {
  padding-left: 0.6rem;
}

.sessions > li {
  margin-top: 1rem;
}

.sessions > li .time {
  font-size: 0.8rem;
  color: #aaa;
  font-weight: bold;
}

.sessions > li > h4 {
  margin: 0;
}
