body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tracks, .sessions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tracks {
  width: 100%;
  display: flex;
}

.tracks > li {
  flex-grow: 1;
  text-align: center;
}

.sessions > li {
  margin: 25px 0;
}


.sessions > li .time {
  font-size: 12px;
  color: #aaa;
  font-weight: bold;
}

.sessions > li > h4 {
  margin: 0;
}
