@import './variables.less';

html {
  font-size: 16px;

  @media all and (min-width: @breakpoint-s) {
    font-size: 20px;
  }

  @media all and (min-width: @breakpoint-m) {
    font-size: 24px;
  }

  @media all and (min-width: @breakpoint-l) {
    font-size: 26px;
  }

  @media all and (min-width: @breakpoint-xl) {
    font-size: 28px;
  }
}

h1 {
  color: var(--text-primary);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Helvetica,Arial,sans-serif;
  background: var(--background-primary);
}

#main-container {
  padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

header {
  h1 {
    text-align: center;
  }

  img {
    height: 1em;
    position: relative;
    top: 0.2rem;
  }
}

footer {
  p {
    text-align: center;
    color: var(--text-secondary);
    font-size: 0.8rem;
  }
}

.footer-logo-mp {
  height: 16px;
  margin-bottom: -3px;

  @media all and (min-width: @breakpoint-s) {
    height: 20px;
    margin-bottom: -4px;
  }

  @media all and (min-width: @breakpoint-m) {
    height: 24px;
    margin-bottom: -5px;
  }

  @media all and (min-width: @breakpoint-l) {
    height: 26px;
    margin-bottom: -6px;
  }

  @media all and (min-width: @breakpoint-xl) {
    height: 28px;
    margin-bottom: -7px;
  }
}