@color-primary: #003c72;
@color-secondary: #777;

@font-color-contrast: #fff;

@border-color: #aaa;

@breakpoint-s: 575px;
@breakpoint-m: 768px;
@breakpoint-l: 991px;
@breakpoint-xl: 1199px;

html {
  font-size: 16px;

  @media all and (min-width: @breakpoint-s) { 
    font-size: 20px;
  }

  @media all and (min-width: @breakpoint-m) { 
    font-size: 24px;
  }

  @media all and (min-width: @breakpoint-l) {
    font-size: 28px;
  }

  @media all and (min-width: @breakpoint-xl) {
  } 
}

h1 {
  color: @color-primary;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

a {
  color: @color-primary;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: Helvetica,Arial,sans-serif;  
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

header {
  h1 {
    text-align: center;
  }

  img {
    height: 1em;
    position: relative;
    top: 0.2rem;
  }
}
footer {
  p {
    text-align: center;  
    color: @color-secondary;  
    font-size: 0.8rem;
  }
}

#waiting {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;

  > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;

    width: 6rem;
    height: 6rem;
  }

  div .spinner {
    position: absolute;

    width:100%;
    height: 100%;
    border-radius: 50%;
    background-color: @color-primary;
    opacity: 0.6;
    animation: doubleBounce 2.0s infinite ease-in-out;
  }

  div .spinner:nth-child(2) {
    animation-delay: -1.0s;
  }
}

@keyframes doubleBounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

#screen {
  border-spacing: 0px;
  width: 100%;

  tr {
    height: 4rem;

    &.active {
      background-color: @border-color;
    }

    th, td {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  
    th {
      white-space: nowrap;
      background-color: @color-primary;
      color: @font-color-contrast;
      border-bottom: 3px solid @color-primary;
    }
  
    td {
      border-bottom: 3px solid @border-color;
    }
  }
}

#slots {
  .entry {
    margin: 1rem 0;

    > h3 {
      color: @color-primary;
      cursor: pointer;
      user-select: none;
      margin: 0;
      padding: 1rem 0.5rem;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);

      > svg {
        float: right;
      }
    }

    .sessions {
      padding-left: 0.6rem;

      > li {
        margin-top: 1rem;

        .sub-title {
          padding-top: 0.2rem;
          font-size: 0.8rem;
          color: @color-primary;
          font-weight: bold;

          em {
            font-style: normal;
            color: @color-secondary;
          }
        }

        h4 {
          color: @color-primary;
          margin: 0;
        }
      }
    }
  }

  @media screen and (min-width: @breakpoint-xl) {
    display: inline-block;
		display: flex;
    justify-content: center;
    
    .entry {
      width: 20%;
      margin: 1rem;

      h3 {
        svg {
          display: none;
        }
      }
    }
  }
}