:root {
  --background-primary: #ffffff;
  --background-secondary: #cacaca;
  --background-tertiary: #777777;

  --text-primary: #003c72;
  --text-secondary: #777777;
  --text-highlight: #e57c00;

  --button-primary: #1c1c1c;
  --button-active: #dd0000;
  --button-disabled: #777777;

  --slot-color: var(--text-primary);
  --link-color: var(--text-primary);

  --background-primary-num: 255, 255, 255;
  --background-secondary-num: 202, 202, 202;
  --background-tertiary-num: 119, 119, 119;
}

:root[theme=dark] {
  --background-primary: #000000;
  --background-secondary: #ff3f80;
  --background-tertiary: #777777;

  --text-primary: rgba(255,255,255,0.9);
  --text-secondary: rgba(255,255,255,0.7);
  --text-highlight: #003c72;

  --button-primary: #f4f4f4;
  --button-active: #3e50b4;
  --button-disabled: #777777;

  --slot-color: var(--text-secondary);
  --link-color: var(--button-active);

  --background-primary-num: 0, 0, 0;
  --background-secondary-num: 255, 61, 125;
  --background-tertiary-num: 119, 119, 119;
}

@breakpoint-s: 575px;
@breakpoint-m: 768px;
@breakpoint-l: 991px;
@breakpoint-xl: 1199px;